<div class="container">
  <div *ngIf="user" class="profile-card">
    <div class="profile-header">
      <button (click)="deleteUser()">Eliminar usuari</button>
    </div>
    <h2>Perfil de l'usuari</h2>
    <div class="profile-field">
      <label>Nom:</label>
      <span>{{ user.name ? user.name : '-' }}</span>
    </div>
    <div class="profile-field">
      <label>Cognom:</label>
      <span>{{ user.surname ? user.surname : '-' }}</span>
    </div>
    <div class="profile-field">
      <label>Email:</label>
      <span>{{ user.email ? user.email : '-' }}</span>
    </div>
    <div class="profile-field">
      <label>DNI:</label>
      <span>{{ user.email ? user.email : '-' }}</span>
    </div>
  </div>
</div>
