.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.profile-card {
  margin-top: 50px;
  width: 500px;
  height: fit-content;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  justify-content: flex-end;
}

.profile-header button {
  border: none;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 10px;
  transition: transform 0.2s ease;
  will-change: transform;
}

.profile-header button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #1B365D;
  margin-bottom: 20px;
  font-weight: 700;
}

.profile-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

label {
  font-size: 1.1rem;
  color: #555;
  font-weight: 600;
  margin-right: 10px;
}

span {
  font-size: 1.1rem;
  color: #333;
  font-weight: 400;
}