<button class="top-nav-bar-btn" (click)="openModal()">Importa una taula</button>

<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <div class="modal-header">
      <button class="close-modal-btn" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
      <p><strong>Formats suportats:</strong> JSON i CSV</p>
      <div class="file-input-container">
        <input type="file" id="file-upload" (change)="onFileSelected($event)" accept=".json,.csv" />
      </div>
    </div>
  </div>
</div>
