.modal-body {
  display: flex;
  gap: 10px;
}

.export-table-btn {
  background-color: #1B365D;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.export-table-btn:hover {
  cursor: pointer;
}