<button class="top-nav-bar-btn" (click)="openModal()">Afegir Usuari</button>

<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h2>Nou Usuari</h2>
    <form (ngSubmit)="submitForm()" #userForm="ngForm" class="form-container">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="newUser.name" required />
      </div>

      <div class="form-group">
        <label for="cognom">Cognom</label>
        <input type="text" id="cognom" name="cognom" [(ngModel)]="newUser.surname" required />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="newUser.email" required />
      </div>

      <div class="form-group">
        <label for="dni">DNI</label>
        <input type="text" id="dni" name="dni" [(ngModel)]="newUser.id" required />
      </div>

      <div>
        {{ error }}
      </div>

      <div class="modal-buttons-container">
        <button class="modal-button" type="submit">Guardar</button>
        <button class="modal-button" (click)="closeModal()">Cancel·la</button>
      </div>
    </form>
  </div>
</div>
