h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

label {
  font-weight: 600;
  font-size: 1rem;
  color: #555;
}

input {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #333;
}

input:focus {
  border-color: #1B365D;
  outline: none;
}

.modal-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  cursor: pointer;
  background-color: #575957;
}