<div class="table-container">
  <div class="filter-buttons-container">
    <button class="filter-btn" (click)="showSearch = !showSearch">
      {{ showSearch ? 'Amaga filtres' : 'Mostra filtres' }}
    </button>
    <button class="filter-btn" (click)="eraseAllInputs()">Esborra tot els filtres</button>
  </div>
  <div class="input-group" *ngIf="showSearch">
    <input type="text" [(ngModel)]="inputName" placeholder="Nom" />
    <input type="text" [(ngModel)]="inputSurname" placeholder="Cognom" />
    <input type="text" [(ngModel)]="inputEmail" placeholder="Email" />
    <input type="text" [(ngModel)]="inputId" placeholder="DNI" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>
          <div class="column-header" (click)="sort('name')">
            Nom
            <div class="sort-arrows-container">
              <span class="arrow" [class.active]="sortColumn === 'name' && sortDirection === 'asc'">▲</span>
              <span class="arrow" [class.active]="sortColumn === 'name' && sortDirection === 'desc'">▼</span>
            </div>
          </div>
        </th>
        
        <th>
          <div class="column-header" (click)="sort('surname')">
            Cognoms
            <div class="sort-arrows-container">
              <span class="arrow" [class.active]="sortColumn === 'surname' && sortDirection === 'asc'">▲</span>
              <span class="arrow" [class.active]="sortColumn === 'surname' && sortDirection === 'desc'">▼</span>
            </div>
          </div>
        </th>
        
        <th>
          <div class="column-header" (click)="sort('email')">
            Email
            <div class="sort-arrows-container">
              <span class="arrow" [class.active]="sortColumn === 'email' && sortDirection === 'asc'">▲</span>
              <span class="arrow" [class.active]="sortColumn === 'email' && sortDirection === 'desc'">▼</span>
            </div>
          </div>
        </th>
        
        <th>
          <div class="column-header" (click)="sort('id')">
            DNI
            <div class="sort-arrows-container">
              <span class="arrow" [class.active]="sortColumn === 'id' && sortDirection === 'asc'">▲</span>
              <span class="arrow" [class.active]="sortColumn === 'id' && sortDirection === 'desc'">▼</span>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of getUsersForCurrentPage()" (click)="goToProfile(user.id)">
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.id }}</td>
      </tr>
      <tr *ngIf="users.length === 0">
        <td colspan="4" class="no-data">Cap usuari</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <div class="page-info">
      <span>Pàgina {{ currentPage }} de {{ totalPages }}</span>
      <span>Total usuaris: {{ totalUsers }}</span>
    </div>
    <div class="page-buttons">
      <button (click)="previous()" [disabled]="currentPage === 1">Anteriors</button>
      <button (click)="next()" [disabled]="currentPage * usersPerPage >= totalUsers">Següents</button>
    </div>
  </div>
</div>
